body{
	font-family: "Raleway", sans-serif;
	text-align: center;
}

h1 {
	margin-top: 5rem;
}

hr {
	width: 450px;
	margin: 1rem auto;
}

p {
	text-align: justify;
}

th {
	background-color: lightgray;
}

th, td {
	padding: 0.5rem;
	border: solid;
	border-width: 0.5px;
	margin: 0;
}

img {
	width: 400px;
}

ol {
	width: 400px;
	margin: 1rem auto;
	text-align: left;
}

table {
	width: 60%;
	margin: 1rem auto;
	font-size: 1.2rem;
}

.weekly-container {
	margin-top: 5rem;
}